# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/

# Virtual Environment
venv/
.env

# VS Code
.vscode/

# Power BI
*.pbix.autosave

# Database Files
*.db
*.sqlite
*.sqlite3

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db

# Temporary Files
*.tmp

# Jupyter
.ipynb_checkpoints/

# Python Build
build/
dist/
*.egg-info/

# Environment Variables
.env

# PostgreSQL Dumps
*.backup
*.sql.bak
